<?xml version="1.0"?>

<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="false" />
  <param
    name="robot_description"
    textfile="$(find link_description)/urdf/link_description.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <!--node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find link_description)/urdf.rviz" /-->
  <node pkg="tf" type="static_transform_publisher" name="link_model_broadcaster" args="0 0.45 0.15 0 0 0 base_link link_description 100"/>
</launch>
